:root {
  --basic-red: #FB565A;
  --red: #E74246;
  --dark-red: #D7373B;
  --basic-green: #00CA74;
  --green: #00BC6C;
  --dark-green: #00AA62;
  --basic-yellow: #EFC84A;
  --yellow: #EAB534;
  --dark-yellow: #E5A722;
  --white: #FFFFFF;
  --black: #000000;
  --antracit: #283136;
  --basic-grey: #EEEEEE;
  --grey: #DFDFDF;
  --basic-grey: #D7DCDE;
  --dark-grey: #D5D5D5;
  --telegrey: #888888;
  --light-grey: #E1E1E1;
  --silver: #B4B9BB;
  --super-grey: #DBDBDB;
  --dark-blue: #444444;
  --perlamutr: #A6A6A6;
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--telegrey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-grey);
}
.inner-main-header  {
  background-color: var(--basic-grey);
  width: 1440px;
  height: 355px;
}

.main-menu-items {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 58px;
}

.main-menu-items:hover {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--basic-red);
}

.main-menu-items:active {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.3;
}

.main-menu-current: {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid var(--basic-red);
}

.about-company-btn {
  text-align: center;
  display: inline-block;
  width: 240px;
  height: 50px;
  text-transform: uppercase;
  color: var(--white);
  background: var(--basic-red);
  border-radius: 3px;
}

.about-company-btn:hover {
  background: var(--red);
}

.about-company-btn:active {
  background: var(--dark-red);
}

.order-site-btn {
  display: inline-block;
  width: 160px;
  height: 50px;
    text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: var(--basic-red);
  border-radius: 3px;
}

.order-site-btn:hover {
  background: var(--red);
}

.order-site-btn:active {
  background: var(--dark-red);
}

.order-application-btn {
  display: inline-block;
  width: 160px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: var(--basic-green);
  border-radius: 3px;
}

.order-application-btn:hover {
  background: var(--green);
}

.order-application-btn:active {
  background: var(--dark-green);
}

.order-presentation-btn {

  display: inline-block;
  /* vertical-align: middle; */
  width: 160px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: var(--basic-yellow);
  border-radius: 3px;
}

.order-presentation-btn:hover {
  background: var(--yellow);
}

.order-presentation-btn:active {
  background: var(--dark-yellow);
}

.social-button {
  width: 81px;
  height: 81px;
  background: var(--light-grey);
}

.social-button:hover {
  background: var(--red);
}

.social-button:active {
  background: var(--dark-red);
}

.close-btn {
  background: var(--basic-red);
  opacity: 0.6;
}

.close-btn:hover {
  background: var(--basic-red);
}

.close-btn:active {
  background: var(--basic-red);
  opacity: 0.3;
}

.appointment-item input {
  background-color: var(--white);
  border: 2px solid var(--basic-grey);
  border-radius: 3px;
}

.appointment-item input:hover {
  border-color: var(--silver);
}

.appointment-item input:focus {
  border-color: var(--black);
}

.appointment-item input:invalid {
  border-color: var(--red);
  color: var(--red);
}

.filter-btn {
  background-color: var(--basic-grey);
  border-radius: 3px;
  display: inline-block;
  width: 260px;
  height: 50px;
  margin-top: 50px;
  border-radius: 3px;
font-weight: 500;
font-size: 16px;
line-height: 18px;
}

.filter-btn:hover {
  background-color: var(--grey);
  border-radius: 3px;
}

.filter-btn:active {
  background-color: var(--dark-grey);
  border-radius: 3px;
  opacity: 0.3;
}

.filter-item {
  font-size: 16px;
  line-height: 20px;
  color: var(--antracit);
  opacity: 0.6;
  display: none;
}

.filter-item:hover {
  color: var(--antracit);
}

/* когда заблокировано поле */
.filter-item:invalid {
  color: var(--antracit);
  opacity: 0.3;
}

.pagination-list {
  list-style: none;
  display: flex;
  margin-left: 540px;
  width: 443px;
}

.pagination-item-current {
  background-color: var(--white);
  border: 3px solid var(--super-grey);
  border-radius: 3px;
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 11px;
  color: var(--black);
  text-align: center;
}

.pagination-item {
  background-color: var(--basic-grey);
  border-radius: 3px;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 11px;
  color: var(--black);
  text-align: center;

}
.pagination-item-next {
  background-color: var(--basic-grey);
  border-radius: 3px;
  display: inline-block;
    height: 50px;
    width: 260px;
    color: var(--black);
    text-align: center;


}
.pagination-item-next:hover {
  background-color: var(--grey);
  border-radius: 3px;
}
.pagination-item-next:active {
  background-color: var(--dark-grey);
  border-radius: 3px;
  opacity: 0.3;
}
.pagination-item:hover {
  background-color: var(--grey);
  border-radius: 3px;
}

.pagination-item:active {
  background-color: var(--dark-grey);
  border-radius: 3px;
  opacity: 0.3;
}

.sort-by {
  list-style: none;
  display: flex;
  width: auto;
  height: 30px;
  align-items: center;

}

.sort-by li:nth-of-type(2) {
  margin-left: 266px;
    margin-right: 25px;
}


.sort-by li:nth-of-type(3) {
  margin-right: 25px;
}

.sorting {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  text-transform: uppercase;
  width: 134px;
  height: 30px;
  vertical-align: center;
}

.sort-by-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  display: inline-block;
}

.sort-by-item:hover {
  opacity: 0.6;
}

.sort-by-item:active {
  opacity: 0;
}

.visually-hidden {
  display: none;
}

.principles {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.tagline {
  color: var(--antracit);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.product-type {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 73px;
  margin-bottom: 32px;
}

.services {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 23px;
}

.approach {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 31px;
}

.figure {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.footer-tagline {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-promo {
  color: var(--dark-blue);
  font-size: 16px;
  line-height: 22px;
}

.logo {
  width: 160px;
  height: 65px;
  margin-left: 44px;
  margin-top: 38px;
}

.logo:active {
  opacity: 0.3;
}

.header-item {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
text-align: center;
margin-bottom: 108px;
}

.filter-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.page {
  height: 100%;
}

.main-navigation {
  display: flex;
  /* outline: 1px solid red; */
}

.site-navigation {
  list-style: none;
  display: flex;
  width: 721px;
  margin-left: 298px;
  margin-right: 217px;
}

.products {
  background: var(--telegrey);
  width: 1440px;
  height: 507px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  column-gap: 100px;
  padding: 80px 200px 80px 140px;
}

.product-item {
  display: flex;
  flex-direction: column;
}

.margin44 {
  margin-left: 44px;
}

.margin48 {
  margin-left: 48px;
}

.cart {
  margin-left: 208px;
  position: relative;
}

/* .cart::before {
  content: "";
   position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background: var(--perlamutr);
  top: 65px;
  right: 25px;
  opacity: 0.3;
} */

.index-columns {
  display: grid;
  list-style: none;
  column-gap: 49px;
  padding: 39px 140px 73px 140px;
  column-gap: 149px;
  grid-template-columns: 651px 360px;
}

.company-data {
  margin-top: 39px;
}

.feature-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.approach-items {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--antracit);
  font-size: 16px;
  line-height: 18px;
}

.percent {
  vertical-align: top;
}

.tagline-list {
  list-style: none;
}

.logo-list {
  list-style: none;
  display: flex;
}

.academy-logo {
  margin: 63px 95px 49px 172px;
}

.barbershop-logo {
  margin-top: 46px;
  margin-right: 104px;
  margin-bottom: 44px;
}

.pink-logo {
  margin-top: 65px;
  margin-right: 120px;
  margin-bottom: 63px;
}

.mishka-logo {
  margin-top: 52px;
  margin-right: 183px;
  margin-bottom: 44px;
}

.container-footer {
  display: grid;
  grid-template-columns: 260px 660px;
}

.social-nets {
  display: flex;
  list-style: none;
  margin-left: 140px;
  margin-top: 68px;
  justify-content: space-around;
}

.promo-taglines {
  margin-left: 139px;
  margin-top: 20px;
}

.company-slider {
  background: var(--basic-grey);
  display: flex;
}

.slider-list {
  list-style: none;
}
.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  /* outline-offset: -5px;
  outline: 2px solid rgba(255, 0, 0, 0.7); */
  margin-left: 140px;
}

.filter {
  /* outline-offset: -5px;
  outline: 2px solid rgba(255, 0, 0, 0.7); */
}
.catalog-results {
  /* outline-offset: -5px;
  outline: 2px solid rgba(255, 0, 0, 0.7); */
  margin-left: 140px;
  display: flex;
  flex-direction: column;
}
.catalog-container {
  /* outline-offset: -5px;
  outline: 2px solid rgba(255, 0, 0, 0.7); */
}
.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 364px 362px;
  column-gap: 41px;
  row-gap: 34px;

 /* padding: 0;
 margin: 0;
 margin-bottom: 25px; */
}
.catalog-item {
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

}
.range-item {
  margin: 0;
  padding: 0;
  border: none;
  /* Для демонстрации
  width: 260px;
  margin: 50px auto;  */
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.range-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
.principle-description {
  margin-left: 140px;
}
.filter-list {
list-style: none;
/* outline: 1px solid red; */
line-height: 19px;
}

.filter-list-radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 149px;
  height: 99px;
}

.filter-list-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 172px;
  height: 179px;
}

  .filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .filter-input-checkbox + label::before {
    background-image: url("img/checkbox-off.svg");
    position: absolute;
    top: 4px;
    left: -13px;
    width: 23px;
    height: 23px;
  }

  .filter-input-checkbox:checked + label::before {
  background-image: url("img/checkbox-on.svg");
  position: absolute;
  top: 4px;
  left: -13px;
  width: 23px;
  height: 23px;
}

.filter-input-radio + label::before {
  background-image: url("img/radio-off.svg");
  position: absolute;
  top: 4px;
  left: -13px;
  width: 23px;
  height: 23px;
}

.filter-input-radio:checked + label::before {
  background-image: url("img/radio-on.svg");
  position: absolute;
  top: 4px;
  left: -13px;
  width: 23px;
  height: 23px;
}
